# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

client/CMakeCache.txt
client/CMakeFiles
client/cmake_install.cmake
client/cmake-build-*
client/client
client/Makefile
client/build/*

server/CMakeCache.txt
server/CMakeFiles
server/cmake_install.cmake
server/cmake-build-*
server/server
server/Makefile
server/build/*

.idea/*
client/.vscode/c_cpp_properties.json
client/.vscode/launch.json
client/.vscode/tasks.json
server/.vscode/launch.json
server/.vscode/settings.json
